
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Site Yönetimi
                </h1>

            </div>
        </div>
    </div>
</section>
<section class="course-details-area pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-contents">
                <div class="jq-tab-wrapper" id="horizontalTab">
                    <div class="jq-tab-menu">
                        <div class="jq-tab-title active" data-tab="1">Hakkımızda</div>
                        <div class="jq-tab-title" data-tab="3">İletişim</div>
                    </div>
                    <div class="jq-tab-content-wrapper">
                        <div class="jq-tab-content active" data-tab="1">
                            <form action="/Site/SaveAbout" method="post" enctype="multipart/form-data">
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">                                    
                                        <textarea id="AboutDetail" name="AboutDetail">@Model.about.AboutDetail</textarea>                                    
                                </div>
                                <div class="container-login100-form-btn">
                                    <button type="submit" class="login100-form-btn">Kaydet</button>
                                </div>
                            </form>
                        </div>
                        <div class="jq-tab-content" data-tab="3">
                            <form class="login100-form validate-form" action="/Site/SaveContact" method="post" enctype="multipart/form-data">
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Haber Başlığı">
                                    <span class="label-input100">İl/İlçe</span>
                                    <input class="input100" type="text" name="CityState" value="@Model.contact.CityState" placeholder="İl/İlçe">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Haber Başlığı">
                                    <span class="label-input100">Adres</span>
                                    <textarea class="input100" id="Address" maxlength="1000" name="Address">@Model.contact.Address</textarea>
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Haber Başlığı">
                                    <span class="label-input100">Telefon</span>
                                    <input class="input100" type="tel" name="Phone" value="@Model.contact.Phone" pattern="[0-9]{4}[0-9]{3}[0-9]{4}" maxlength="12" placeholder="02121234567">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                                    <span class="label-input100">Telefon Açıklama</span>
                                    <textarea class="input100" id="PhoneDescription" maxlength="50" name="PhoneDescription">@Model.contact.PhoneDescription</textarea>
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Haber Başlığı">
                                    <span class="label-input100">Email</span>
                                    <input class="input100" type="email" name="Email" value="@Model.contact.Email" maxlength="50" placeholder="a@a.com">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                                    <span class="label-input100">Mail Açıklama</span>
                                    <textarea class="input100" id="EMailDescription" maxlength="50" name="EMailDescription">@Model.contact.EMailDescription</textarea>
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="container-login100-form-btn">
                                    <button type="submit" class="login100-form-btn">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />

<script>
    $(document).ready(function () {
        $('#AboutDetail').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['fontname', ['fontname']],
                ['style', ['style']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['para', ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']],
                ['color', ['color']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ],
            placeholder: 'Hakkımızda',
            tabsize: 2,
            height: 300
        });
    });
</script>


