
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Education</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/Content/linearicons.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/CustomMenu.css">

    <link rel="icon" type="image/png" href="login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <header id="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
                        <!--<a href="tel:+953 012 3654 896"><span class="lnr lnr-phone-handset"></span> <span class="text">+953 012 3654 896</span></a>-->
                        @if (!User.IsInRole("Guest") && !User.IsInRole("Admin"))
                        {
                            <a href="/Login"><span class="lnr lnr-envelope"></span> <span class="text">Kullanıcı Girişi</span></a>
                        }else
                        {
                            <a href="/Login/Logout">Çıkış</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex" style="margin-left:-270px; margin-right:-270px">
                <div id="logo">
                    <a href="/Home"><img src="~/img/logo3.png" height="78" alt="" title="" /></a>
                </div>
                <div style="margin-left:-130px;">
                    <div class="nav-menu-container">
                        <h4 style="font-size:12px; color:#ffffff;font-family:Georgia"><i>Büyüleyici Bir Bilim Serüvenine Hazır Mısınız?</i></h4>
                    </div>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="/Home/Index">Anasayfa</a></li>
                        <li><a href="/Home/About/1">Hakkımızda</a></li>
                        <li><a href="/Home/About/12">Bilim Merkezi</a></li>
                        <li><a href="/News/">Haberler</a></li>

                        @if (!User.IsInRole("Admin"))
                        {
                            <li><a href="/Appointment/Appointment">Okul Randevuları</a></li>
                        }
                        <li><a href="/Gallery/">Galeri</a></li>
                        <li><a href="/Home/Contact">İletişim</a></li>
                        @if (User.IsInRole("Guest"))
                        {
                            <li class="menu-has-children">
                                <a href="">Randevu</a>
                                <ul>
                                    <li><a href="/Appointment/ActiveAppointment">Aktif Rezervasyonlar</a></li>
                                    <li><a href="/Appointment/PastAppointment">Geçmiş Rezervasyonlar</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="menu-has-children">
                                <a href="">Yönetim</a>
                                <ul>
                                    <li><a href="/Site">Site Yönetimi</a></li>
                                    <li><a href="/Appointment/ActiveReservationForAdmin">Aktif Rezervasyonlar</a></li>
                                    <li><a href="/Appointment/PastReservationForAdmin">Geçmiş Rezervasyonlar</a></li>
                                    @*<li><a href="/Appointment/">Randevu Yönetimi</a></li>*@
                                    <li><a href="/User/Index">Kullanıcı Yönetimi</a></li>
                                    <li><a href="/News/News">Haber Yönetimi</a></li>
                                    <li><a href="/Gallery/Gallery">Galeri Yönetimi</a></li>
                                    <li><a href="/Slider/Slider">Slider Yönetimi</a></li>

                                </ul>
                            </li>
                        }

                    </ul>

                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header>
    <!-- #header -->
    <!-- start banner Area
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-9 col-md-12">
                    <h1 class="text-uppercase">
                        We Ensure better education
                        for a better world
                    </h1>
                    <p class="pt-10 pb-10">
                        In the history of modern astronomy, there is probably no one greater leap forward than the building and launch of the space telescope known as the Hubble.
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Get Started</a>
                </div>
            </div>
        </div>
    </section>-->
    @RenderBody()

    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Top Products</h4>
                        <ul>
                            <li><a href="#">Managed Website</a></li>
                            <li><a href="#">Manage Reputation</a></li>
                            <li><a href="#">Power Tools</a></li>
                            <li><a href="#">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Quick links</h4>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Features</h4>
                        <ul>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Brand Assets</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>Resources</h4>
                        <ul>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Experts</a></li>
                            <li><a href="#">Agencies</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="footer-bottom row align-items-center justify-content-between">
                <p class="footer-text m-0 col-lg-6 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    "İstanbul Kalkınma Ajansı tarafından desteklenen "Bağcılar Bilim Merkezi Projesi - TR10/18/ÇVG/0067" kapsamında hazırlanan bu yayının içeriği, İstanbul Kalkınma Ajansı veya Sanayi ve Teknoloji Bakanlığı'nın görüşlerini yansıtmamakta olup, içerik ile ilgili tek sorumluluk Bağcılar Belediyesi'ne aittir.”
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-6 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Scripts/easing.min.js"></script>
    <script src="~/Scripts/hoverIntent.js"></script>
    <script src="~/Scripts/superfish.min.js"></script>
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery.tabs.min.js"></script>
    <script src="~/Scripts/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/mail-script.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</body>
</html>
