
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("jquery-2.2.4.min");
<script src="~/Scripts/vendor/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$("div.nights > h5 > div.num").text()

        $('select[name=municipalityClassId]').change(function () {
            var date = $("#datepicker").val();
            var municipalityClassId = $('select[name=municipalityClassId]').val();
            if (date == "") {
                return;
            } else {
                GetDate(municipalityClassId, date)
            }
        });
        $("#datepicker").datepicker({
            // The hidden field to receive the date
            altField: "#dateHidden",
            // The format you want
            altFormat: "yy-mm-dd",
            // The format the user actually sees
            dateFormat: "dd.mm.yy",
            onSelect: function (date) {
                // Your CSS changes, just in case you still need them
                //$('.deneme > .nice-select').html("asdasd");
                var date = $("#datepicker").val();
                var municipalityClassId = $('select[name=municipalityClassId]').val();
                if (municipalityClassId == "Sınıf Seçiniz") {
                    return;
                } else {
                    GetDate(municipalityClassId, date)
                }
            }
        });
    });
    function GetDate(municipalityClassId, date) {
        $('.hours > .nice-select > span').text('Sınıf Seçiniz');
        $.ajax({
            url: '/Appointment/GetDate',
            type: 'POST',
            data: { 'municipalityClassId': municipalityClassId, 'date': date },
            success: function (results) {
                if (results == "") {
                    $("#datepicker").val("");
                    alert("15 günden daha ileri tarih veya geçmiş bir tarih seçemezsiniz");
                } else {
                    var classHour = JSON.parse(results)
                    var options = '';
                    var li = '';
                    li = "<li data-value='Sınıf Seçiniz' class='option'>Sınıf Seçiniz</li>";
                    for (var x = 0; x < classHour.length; x++) {
                        options += '<option value="' + classHour[x]['Id'] + '">' + classHour[x]['Hour'] + '</option>';
                        li += '<li data-value="' + classHour[x]['Id'] + '" class="option focus">' + classHour[x]['Hour'] + '</li>'
                    }
                    $('.hours > .nice-select > ul').html(li);
                    $('#classHour').html(options);

                    console.log(options);
                }
            },
            error: function () {
                alert('hata');
            }
        });
    }
</script>
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Randevu Oluştur
                </h1>

            </div>
        </div>
    </div>
</section>
<section class="course-details-area pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-contents">
                <div class="jq-tab-wrapper" id="horizontalTab">

                    <form class="login100-form validate-form" action="/Appointment/GetAppointment" method="post" enctype="multipart/form-data">
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                                <span class="label-input100">Okul</span>
                                <span class="focus-input100"></span>
                                <div class="form-select" id="service-select">
                                    <select id="Id" name="UserId" required>
                                        <option datd-display="">Okul Seçiniz</option>
                                        @foreach (var item in Model.Users)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        }
                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">Sınıf</span>
                            <span class="focus-input100"></span>
                            <div class="form-select" id="service-select">
                                <select id="Id" name="municipalityClassId" required>
                                    <option datd-display="">Sınıf Seçiniz</option>
                                    @foreach (var item in Model.municipalities)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="wrap-input100 validate-input m-b-26">
                            <span class="label-input100">Randevu Tarihi</span>
                            <input class="input100" type="text" id="datepicker" name="datepicker" placeholder="Tarih Seçiniz" autocomplete="off" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">Sınıf Seçiniz</span>
                            <span class="focus-input100"></span>
                            <div class="form-select" id="service-select">
                                <select id="Id" name="schoolClassId" required>
                                    <option datd-display="">Okulunuzdaki Sınıfı Seçiniz</option>
                                    @foreach (var item in Model.schoolClasses)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="wrap-input100 validate-input m-b-26">
                            <span class="label-input100">Saat</span>
                            <span class="focus-input100"></span>
                            <div class="form-select hours" id="service-select">
                                <select id="classHour" name="hour" required>
                                    <option value="0" datd-display="">Saat Seçiniz</option>
                                </select>

                            </div>
                        </div>
                        <div class="wrap-input100 validate-input m-b-18">
                            <span class="label-input100">Danışman</span>
                            <input class="input100" type="text" name="consultant" placeholder="Danışman İsmi" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                            <span class="label-input100">Danışman</span>
                            <input class="input100" type="file" name="studentList" required>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="flex-sb-m w-full p-b-30">

                            <div>
                                <div class="txt1" style="color:#ff0000; font-size:15px">
                                    @ViewBag.Message
                                </div>
                            </div>
                        </div>

                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">Randevu Al</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
