@model Bel.Models.ReservationViewModel
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="popular-course-area section-gap no-padding">
    <div class="container">
        <table class="table table-hover" style="cursor:pointer">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>IsActive</td>
                    <td>AdvisorName</td>
                    <td>ReservationDate</td>
                    <td>UserName</td>
                    <td>MunicipalityClassName</td>
                    <td>SchoolName</td>
                    <td>Hour</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Reservations)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.IsActive</td>
                    <td>@item.AdvisorName</td>
                    <td>@item.ReservationDate</td>
                    <td>@item.UserName</td>
                    <td>@item.MunicipalityClassName</td>
                    <td>@item.SchoolClassName</td>
                    <td>@item.Hour</td>
                    <td>@Html.ActionLink("Detay", "DetailReservation", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
