@model Bel.Models.ReservationViewModel
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="width:80%">
            <section class="banner-area relative about-banner" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Rezervasyonlar
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="popular-course-area section-gap no-padding">
                <div class="container">
                    <table class="table table-hover" style="cursor:pointer">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>IsActive</td>
                                <td>AdvisorName</td>
                                <td>ReservationDate</td>
                                <td>UserName</td>
                                <td>MunicipalityClassName</td>
                                <td>SchoolName</td>
                                <td>Hour</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reservations)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.IsActive</td>
                                    <td>@item.AdvisorName</td>
                                    <td>@item.ReservationDate</td>
                                    <td>@item.UserName</td>
                                    <td>@item.MunicipalityClassName</td>
                                    <td>@item.SchoolClassName</td>
                                    <td>@item.Hour</td>
                                    <td><input class="btn btn-warning btnSubmit" type="submit" value="Detay" /></td>
                                    <!--<td>@Html.ActionLink("Detail", "DetailReservation", new { id = item.Id }, new { @class = "btn btn-warning delete" })</td>-->
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<div id="ex1">
    <p>Thanks for clicking. That felt good.</p>
</div>
<!-- Link to open the modal -->
<script>
    $(document).ready(function () {
        $(".btnSubmit").click(function () {
            var opt = {
                width: 920,
                height: 650,
                title: 'Details'
            };
            $("#ex1").dialog(opt).dialog("open");
        });
    });
</script>
