@model Bel.Models.UserViewModel
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="width:80%">
            <section class="banner-area relative about-banner" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Kullanıcı Düzenleme
                            </h1>
                        </div>
                    </div>
                </div>
            </section>
            <section class="popular-course-area section-gap no-padding">
                <div class="container">
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => Model.User.Id)
                        @Html.Label("İsim")<br />
                        @Html.TextBoxFor(k => Model.User.Name, new { @class = "form control" })<br />
                        @Html.ValidationMessageFor(k => Model.User.Name, null, new { @class = "text-danger" })<br />

                        @Html.Label("EMail")<br />
                        @Html.TextBoxFor(k => Model.User.EMail, new { @class = "form control" })<br />
                        @Html.ValidationMessageFor(k => Model.User.EMail, null, new { @class = "text-danger" })<br />

                        @Html.Label("Şifre")<br />
                        @Html.TextBoxFor(k => Model.User.Password, new { @class = "form control" })<br />
                        @Html.ValidationMessageFor(k => Model.User.Password, null, new { @class = "text-danger" })<br />

                        <input type="submit" value="Düzenle" class="btn btn-success" />
                    }
                </div>
            </section>
        </div>
    </div>
</div>
