
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Kullanıcı Yönetimi
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="course-details-area pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 left-contents">
                <div class="jq-tab-wrapper" id="horizontalTab">
                    <div class="container">

                        @using (Html.BeginForm())
                        {
                            <div class="validate-input m-b-18" data-validate="Password is required">
                                <span class="label-input1000">Arama : </span> @Html.TextBox("SearchString", null, new { @style = "border-bottom: 1px solid #a8abaf;" })
                                <input class="btn btn-success" type="submit" value="Filtrele">
                                <span class="focus-input1000"></span>
                            </div>
                        }


                        <table class="table table-hover" style="cursor:pointer" id="tbldata">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>EMail</td>
                                    <td>Password</td>
                                    <td>Düzenle</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.EMail</td>
                                        <td>@item.Password</td>
                                        <td>@Html.ActionLink("Düzenle", "EditUser", new { id = item.Id }, new { @class = "btn btn-warning" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<link href="~/Content/paging.css" rel="stylesheet" />
<script src="~/Scripts/paging.js"></script>
<script type="text/javascript">
    $(function () {
        $('#tbldata').paging({ limit: 5 });
    })
</script>




